body {
    overflow-x: hidden;
}
.section1 {
    background: url(/source/img/item6.png);
    color: white;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.content1 {
    text-align: center;
    padding-top: 15%;
}

.section3 {
    background-color: #d9d9d9;
}

.link-detail {
    text-decoration: none;
    color: black;
}

.link-detail:hover {
    color: black;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    text-transform: capitalize;
}

.card-text {
    text-align: left;
}

.photo {
    width: 305px;
    height: 300px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.foto-tentang-kami {
    width: 35rem;
    height: 18rem;
}

@media (max-width: 1440px) {
    .section1 {
        height: 40vh;
    }

    .content1 h1 {
        font-size: 60px;
    }

    .content1 h6 {
        font-size: 25px;
    }

    #section2 .row .card .photo {
        width: 100%;
    }
}

@media (max-width: 1025px) {
    .section1 {
        height: 30vh;
    }

    .photo {
        width: 100%;
    }

    .foto-tentang-kami {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .section1 .content1 h1 {
        font-size: xx-large;
    }

    .section1 .content1 h6 {
        font-size: larger;
    }
}

@media (max-width: 426px) {
    .section1 {
        height: 20vh;
    }

    .section1 .content1 {
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 20%;
    }

    .section1 .content1 h1 {
        font-size: x-large;
    }

    .section1 .content1 h6 {
        font-size: small;
    }

    #section2 .row .col-lg-4 {
        width: 50%;
    }

    #section2 .row .col-lg-3 {
        width: 50%;
    }

    #section2 .row .card .photo {
        width: 100%;
    }

    .container .row .col-lg-3 {
        text-align: center;
    }

    .container .row {
        margin-bottom: 10px;
    }

    #section4 .col-sm-12 {
        width: 100%;
    }
}

@media (max-width: 376px) {
    .content1 h1 {
        font-size: larger;
    }

    .content1 h6 {
        font-size: medium;
    }
}
